#paper {
	background: #f1d0b5;
	width: 1000px;
	height: 2000px;
	margin-left: auto;
	margin-right: auto;
}

HR {
	margin-left: 30px;
	margin-right: 30px;
	background-color:black;
}

.news {
	margin-left: 30px;
	margin-right: 30px;	
}

.information {
	text-align: center;
	margin-top: 5px;
	font-size: 9px;
	margin-left: 3px;
	margin-right: 5px;	
}
.firstLine {
	height: 2px;
}
.secondLine {
	height: 4px;
}
.numberOfNewsPaper {
	font-family: sans-serif;
	margin-left: 30px;
}
.rightTextTop {
	font-size: 15px;
	margin-left: 730px;
	margin-top: -20px;
	font-weight: bold;
}
.rightTextButtom {
	font-size: 15px;
	margin-left: 730px;
	margin-top: -18px;
	font-weight: bold;
}
.titleText {
	font-size: 137px;
	font-weight: bold;
	font-family: serif;
	margin-left: 260px;
	margin-top: -60px;
}
.leftText {
	font-size: 20px;
	margin-left: 30px;
	margin-top: -60px;
	font-weight: bold;
}