#header {
	background: #4a76a8;
	float: top;	
}
#menu {
	width: 40 px; /* Ширина слоя */
    margin-left: 270px; /* Значение отступов */   
    background: #eeeff0; /* Цвет фона */
	float: left;
}
#body {
	background: #eeeff0;
}

#photo {
	background: white;
	margin-left: 40px;
	margin-top: 15px;
	float: left;
	width: 230px;
	height: 320px;
}

#information {
	background: white;
	margin-left: 15px;
	margin-top: 15px;
	float: left;
	width: 500px;
	height: 210px;	
}

#photos {
	background: white;
	margin-left: 15px;
	margin-top: 15px;
	float: left;
	width: 500px;
}

#friends {
	background: white;
	clear: left;
	margin-left: 393px;
	margin-top: -160px;
	float: left;
	width: 231px;
	height: 230px;
}

#wall {	
	background: white;
	clear: left;
	margin-left: 638px;
	margin-top: -138px;
	float: left;
	width: 500px;
	height: 250px;
}

.search {
	background: #1c4a7b;
	border: none;
	position: absolute; /* Абсолютное позиционирование */
  	top: 20px;
	margin-left: 65px;
	width: 230px;
	height: 25px;
	border-radius: 20px;
}
.picture{
	margin-left: 310px;
	margin-top: 5px;
	height: 35px;
}
.symbol {
	margin-left: 270px;
	width: 55px;
	height: 35px;
}
.photoNoText {
	margin-left: 100px;
	margin-top: 40px;
	width: 300px;
	height:150px;
}
.noText {
	margin-top: 15px;
	margin-left: 20px;
	font-family: tahoma;
	font-size: 13px;
}
.friendsTable {
	width: 230px;
	height:180px;
	margin-top: -10px;
}
.friend {
	width: 50px;
	height: 50px;
	margin-left: 15px;
	border-radius: 100px;
}

.friendText {
	margin-top:-3px;
	margin-left: 15px;
	font-family: tahoma;
	font-size: 13px;
	color: #4977aa;
	text-align: center;
}
.textInFriends {
	margin-left: 15px;
	margin-bottom:15px;
	font-family: tahoma;
	font-size: 13px;
}
.photoImage {
	margin: 15px;
	width: 200px;
	height: 200px;	
}
.buttonUnderPhoto {
	margin-top: -5px;
	margin-left: 15px;
	width: 200px;
	height: 30px;
	background: #5181b8;
	border-radius: 5px;
	border: 0;
    padding: 0;
}
.buttonSecondUnderPhoto{
	margin-top: 13px;
	margin-left: 15px;
	width: 200px;
	height: 30px;
	background: #5181b8;
	border-radius: 5px;
	border: 0;
    padding: 0;
}
.textInButtonUnderPhoto {
	margin: 5px;
	color: white;
	font-family: tahoma;
}

.menuText {
	color: #4977aa;
	font-family: tahoma;
	font-size: 13px;
}	
.textName {
	margin-left: 15px;
	font-family: tahoma;
	font-size: 20px;
}
.textData {
	margin-left: 15px;
	font-family: tahoma;
	font-size: 15px;
	color: gray;
}
.line {
	margin: 10px;
}

.textFriends {
	margin-left: 60px;
	width: 400px;
}

.tableTop {
	font-size: 20px;
	text-align: center;
	font-family: tahoma;
	color: #5181b8;
}
.tableDown {
	font-size: 10px;
	text-align: center;
	font-family: tahoma;
	color: gray;
}

.textInPhotos {	
	font-family: tahoma;
	font-size: 13px;
	margin-left: 15px;	
}
.photoInPhotos {
	margin-left: 150px;	
	margin-bottom: 10px;
	width: 130px;
	height: 130px;
}

SPAN {
	margin-right: 25px;
	color: #5181b8;	
}

